[Desktop Entry]
Name=launch interface
Comment=launch interface
Exec=terminator -e "bash -c '~/ros_ws/src/myo_raw/scripts/launch_joy.sh;$SHELL'"
Icon=~/ros_ws/src/exercise_interface/joy.png
Terminal=false
Type=Application
Categories=Application;
